* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
