.enter-details {
  box-sizing: border-box;
  padding: 1rem 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.enter-details input {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;
}
