.unique-album-div {
    box-sizing: border-box;
    width: 100%;
}

.up-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid black; */
    /* background-color: gray; */
}